
{% extends "cu/form.html"%}

{%block cl %}


<div class="row topmargin-sm clearfix">

  <div class="col-12 bottommargin-sm">
    <div class="ipost clearfix">
      <div class="row clearfix">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <form  method="post">
              {% csrf_token %}
            <legend class="border-bottom mb-8">DELETE POST</legend>
             <h2>Are you sure that you want to delete this post </h2>
             <h2>{{object.title}}</h2>
            <button class="btn btn-outline-danger" type='submit'><span>confirm</span></button>
            <a class="btn btn-outline-secondary" href="{%url 'post-detail' object.id %}"><span>cancle</span></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock cl%}
